SITE_DOMAIN=inkeshopapteka.inkar.kz
SERVER_IP=10.10.1.80
TLS_MODE=http
ACTIVE_SLOT=blue
ACTIVE_WEB_UPSTREAM=web-blue:3000
WEB_BLUE_IMAGE=inkar-shop:bootstrap
WEB_GREEN_IMAGE=inkar-shop:bootstrap
DEPLOY_IMAGE=inkar-shop:bootstrap