STOCK_FB_HOST=INKSTDN
STOCK_FB_PORT=3050
STOCK_FB_PATH=C:\Standart-N\base_g\ZTRADE_G.FDB
STOCK_FB_USER=READONLY_USER
STOCK_FB_PASSWORD=replace-on-server
STOCK_WEB_USER=replace-on-server
STOCK_WEB_PASSWORD=replace-on-server
STOCK_API_KEY=replace-on-server
STOCK_REFRESH_SECONDS=180
STOCK_QUERY_TIMEOUT_SECONDS=25
